@model IEnumerable<WeltrettungAuftrag.Models.Aggressor>

@{
    ViewData["Title"] = "Index";
}

<h4>Aggressoren Liste</h4>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Spitzname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Spezialitaet)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Spitzname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Spezialitaet)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AggressorId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.AggressorId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.AggressorId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
